<% layout('layouts/boilerplate') -%>


<% if (typeof lotes !== 'undefined') {%> 

<h2 class="my-3 text-center">NUEVO INGRESO</h2>
    <form id="ingreso" class="d-flex justify-content-sm-around" action="/verificar" method="GET">
    
        <label for="lote">
            <select class="form-select" name="lote" id="lote" form="ingreso" placeholder="lote">
                <option value="" selected>Seleccione un lote</option>
                <%for (let lote of lotes) {%>
                <option value="<%=lote.lote%>"><%=lote.lote%></option>
                <%}%> 
                </select>
        </label>

            
    <!-- <label for="proveedor">
        <input class="form-control" type="text" name="proveedor" placeholder="Proveedor" id="proveedor" disabled>
    </label>

    <label for="piscina">
        <input class="form-control" type="text" name="piscina" placeholder="Piscina" disabled>
    </label> -->
    <!-- <label for="fecha">
        <input class="form-control" type="date" name="fecha" >  
    </label>
    <label for="llegada">
        <input class="form-control" type="time" name="llegada" placeholder="Hora Llegada">
    </label> -->

    <!-- <label for="numeroBines">
        <input class="form-control" type="number" name="numeroBines" placeholder="Bines/gavetas" disabled>
    </label>

    <label for="remitido">
        <input class="form-control" type="number" name="remitido" placeholder="Libraje" disabled>
    </label> -->
    
    <button type="submit" class="btn btn-success">Verificar Lote</button>
    
    </form>
<% }%> 

<% var item = 0; %> 

<h1 class="text-center my-5 ">INGRESO MP - BRISAS  <%= fecha %> </h1>

<div class="container my-3">
    <form class="h-25 d-flex" action="/bitacora" method="get">
        <input class="form-control w-25" type="date" id="fechaBusqueda" name="fechaBusqueda">
        <button class="btn btn-success mx-3">Buscar por Fecha</button>
        </form>
</div>

<div class="bg-primary text-white grid-ingreso w-100">
    <span class="item  py-1  text-center">item</span>
    <span class="lote  py-1 text-center">lote</span>
    <span class="proveedor  py-1  text-center">proveedor</span>
    <span class="piscina py-1  text-center">piscina</span>
    <span class="llegada  py-1  text-center">llegada</span>
    <span class="fecha  py-1  text-center">Fecha</span>
    <span class="bines  py-1  text-center">#Bines</span> 
    <span class="libras  py-1  text-center">Libras</span>
</div>
<%for (let ingreso of ingresos) {%>
    <% 
    const date = ingreso.fecha;
    const fecha = date.getUTCDate() + '/' + date.getUTCMonth() + "/" + date.getUTCFullYear();
    const llegada = date.getUTCHours() + ":" + date.getUTCMinutes() + ":" + date.getUTCSeconds();
    
    item += 1
    %> <div class="grid-ingreso w-100">
        <span class="item  py-1  text-center"><a href="/show/<%=ingreso._id%>"><%=item%></a></span>
        <span class="lote  py-1  text-center" ><a href="/lote/<%= ingreso.lote %>"><%=ingreso.lote%></a></span>
        <span class="proveedor  py-1 text-center"><%=ingreso.proveedor%></span>
        <span class="piscina  py-1  text-center" ><%=ingreso.piscina%></span>
        <span class="llegada  py-1  text-center" ><%=llegada%></span>
        <span class="fecha  py-1  text-center" ><%=fecha%></span>
        <span class="bines  py-1  text-center"><%=ingreso.numeroBines%></span> 
        <span class="libras  py-1 text-center" ><%=ingreso.remitido%></span>
    </div>
   
    <% } %> 
