<% layout('layouts/boilerplate') -%>

<h1 class="text-center my-5 ">verificar lote programado</h1>


    <form class="d-flex justify-content-sm-between" action="/programacion/corregir/<%= lotePrograma._id%>?_method=PUT" method="post">
        
    
    <label for="proveedor">
        <input class="form-control" type="text" name="proveedor" placeholder="Proveedor" value="<%= lotePrograma.proveedor %>">
    </label>

    <label for="producto">
        <input class="form-control" type="text" name="producto" placeholder="Producto" value="<%= lotePrograma.producto %>">
    </label>

    <label for="piscina">
        <input class="form-control" type="text" name="piscina" placeholder="Piscina" value="<%= lotePrograma.piscina %>" >
    </label>

    <label for="lote">
        <input class="form-control" type="number" name="lote" placeholder="Lote" value="<%=lotePrograma.lote%>">
    </label>

    <label for="cantidad">
        <input class="form-control" type="number" name="cantidad" placeholder="Cantidad" value="<%= lotePrograma.cantidad %>">
    </label>

    <label for="fecha">
        <input class="form-control" type="date" name="fecha" value="<%=fecha %>">  
    </label>

    <button type="submit" class="btn btn-success">corregir</button>
    

    </form>

    <div class="container d-flex mt-3">
        <a type="button" class="btn btn-secondary mx-1" href="/programacion">atras</a>
        <form class="mx-3" action="/programacion/delete/<%=lotePrograma._id%>/?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">borrar</button>
        </form></div>