<% layout('layouts/boilerplate') -%>

<h1 class="text-center my-5 ">verificar lote programado</h1>


    <form class="d-flex justify-content-sm-start align-content-between align-items-center flex-sm-wrap needs-validation" action="/programacion/corregir/<%= lotePrograma._id%>?_method=PUT" method="post" novalidate>
        
    
    <label class="m-2" for="proveedor">
        <input class="form-control" type="text" name="proveedor" placeholder="Proveedor" value="<%= lotePrograma.proveedor %>" required>
    </label>

    <label class="m-2" for="producto">
        <input class="form-control" type="text" name="producto" placeholder="Producto" value="<%= lotePrograma.producto %>" required>
    </label>

    <label class="m-2" for="piscina">
        <input class="form-control" type="text" name="piscina" placeholder="Piscina" value="<%= lotePrograma.piscina %>" required>
    </label>

    <label class="m-2" for="lote">
        <input class="form-control" type="number" name="lote" placeholder="Lote" value="<%=lotePrograma.lote%>"required>
    </label>

    <label class="m-2" for="cantidad">
        <input class="form-control" type="number" name="cantidad" placeholder="Cantidad" value="<%= lotePrograma.cantidad %>" required>
    </label>

    <label class="m-2" for="fecha">
        <input class="form-control" type="date" name="fecha" value="<%=fecha %>" required>  
    </label>


    <label class="m-2" for="hora" >
        <select class="form-select w-100 h-100" name="hora" required>
            <option value="" selected disabled hidden>Hora Llegada</option>
            <option value="00:00">00:00</option>
            <option value="01:00">01:00</option>
            <option value="02:00">02:00</option>
            <option value="03:00">03:00</option>
            <option value="04:00">03:00</option>
            <option value="05:00">04:00</option>
            <option value="06:00">06:00</option>
            <option value="07:00">07:00</option>
            <option value="08:00">09:00</option>
            <option value="09:00">09:00</option>
            <option value="10:00">10:00</option>
            <option value="11:00">11:00</option>
            <option value="12:00">12:00</option>
            <option value="13:00">13:00</option>
            <option value="14:00">14:00</option>
            <option value="15:00">15:00</option>
            <option value="16:00">16:00</option>
            <option value="17:00">17:00</option>
            <option value="18:00">18:00</option>
            <option value="19:00">19:00</option>
            <option value="20:00">20:00</option>
            <option value="21:00">21:00</option>
            <option value="22:00">22:00</option>
            <option value="23:00">23:00</option>
        </select>
        <div class="invalid-feedback">
            Ingrese hora de llegada
        </div>  
    </label>


    <button type="submit" class="btn btn-success">corregir</button>
    

    </form>

    <div class="container d-flex mt-3">
        <a type="button" class="btn btn-secondary mx-1" href="/programacion">atras</a>
        <form class="mx-3" action="/programacion/delete/<%=lotePrograma._id%>/?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">borrar</button>
        </form></div>