<% layout('layouts/boilerplate') -%>

<h1 class="text-center my-5 ">INGRESO PROGRAMA - BRISAS  <%= fecha %> </h1>

<div class="container my-3">
    <form class="h-25 d-flex" action="/programacion" method="get">
        <input class="form-control w-25" type="date" id="fechaBusqueda" value="<%= fecha %>" name="fechaBusqueda">
        <button class="btn btn-success mx-3">Fecha</button>
        </form>
</div>


<h2 class="my-3 text-center">ingresar programa</h2>
    <form class="d-flex justify-content-sm-between" action="/programacion" method="post">
        
    
    <label for="proveedor">
        <input class="form-control" type="text" name="proveedor" placeholder="Proveedor">
    </label>

    <label for="producto">
        <input class="form-control" type="text" name="producto" placeholder="Producto">
    </label>

    <label for="piscina">
        <input class="form-control" type="text" name="piscina" placeholder="Piscina">
    </label>

    <label for="lote">
        <input class="form-control" type="number" name="lote" placeholder="Lote">
    </label>

    <label for="cantidad">
        <input class="form-control" type="number" name="cantidad" placeholder="Cantidad">
    </label>

    <!-- <label for="fecha">
        <input class="form-control" type="date" name="fecha" >  
    </label> -->

    <button type="submit" class="btn btn-primary">Programar</button>
    
    </form>

    <div class="grid-programa w-100">
        <span class="itemp border border-dark py-1  text-center">item</span>
        <span class="proveedorp border border-dark py-1 text-center">Proveedor</span>
        <span class="productop border border-dark py-1  text-center">Producto</span>
        <span class="cantidadp border border-dark py-1  text-center">Cantidad</span>
        <span class="piscinap border border-dark py-1  text-center">Piscina</span>
        <span class="lotep border border-dark py-1  text-center">Lote</span> 
        <span class="llegadap border border-dark py-1  text-center">Fecha</span>
    </div>
    <% 
    var item = 0;
    %> 
    <%for (let programa of programacion) {%>
        <% 
        const date = programa.fecha;
        const fecha = programa.fecha.toLocaleDateString(); 
    
        
        item += 1
        %> <div class="grid-programa w-100">
            <span class="itemp border border-dark py-1  text-center"><%=item%></span>
            <span class="proveedorp border border-dark py-1 text-center"><%=programa.proveedor%></span>
            <span class="productop border border-dark py-1  text-center" ><%=programa.producto%></span>
            <span class="cantidadp border border-dark py-1  text-center" ><%=programa.cantidad%></span>
            <span class="piscinap border border-dark py-1  text-center" ><%=programa.piscina%></span>
            <span class="lotep border border-dark py-1  text-center" ><%=programa.lote%></span>
            <span class="fechap border border-dark py-1  text-center" ><%=fecha%></span>
        </div>
       
        <% } %> 

