<% layout('layouts/boilerplate') -%>

<h1 class="text-center my-5 ">INGRESO PROGRAMA - BRISAS  <%=fechaIngreso %> </h1>

<div class="container my-3">
    <form class="h-25 d-flex needs-validation" action="/programacion" method="get" novalidate>
        <input class="form-control w-25" type="date" id="fechaBusqueda" name="fechaBusqueda" required>
        <button class="btn btn-success mx-3">Fecha</button>
        </form>
</div>



<div class="container-md bg-light">
<h2 class="my-3 text-center">Ingresar programa</h2>

    <form class="d-flex justify-content-sm-start align-content-between flex-sm-wrap needs-validation" action="/programacion" method="post" novalidate>
    
    
    <label class="m-2" for="proveedor">
        <input class="form-control" type="text" name="proveedor" placeholder="Proveedor" required>
        <div class="invalid-feedback">
            Ingrese nombre de proveedor
        </div>
    </label>

    <label class="m-2" for="producto">
        <input class="form-control" type="text" name="producto" placeholder="Producto" required>
        <div class="invalid-feedback">
            Ingrese tipo de producto (ENTERO, X/D)
        </div>
    </label>

    <label class="m-2" for="piscina">
        <input class="form-control" type="text" name="piscina" placeholder="Piscina" required>
        <div class="invalid-feedback">
            Ingrese identificacion de piscina
        </div>
    </label>

    <label class="m-2" for="lote">
        <input class="form-control" type="number" name="lote" placeholder="Lote" required>
        <div class="invalid-feedback">
            Ingrese numero de lote
        </div>
    </label>

    <label class="m-2" for="cantidad">
        <input class="form-control" type="number" name="cantidad" placeholder="Cantidad" required>
        <div class="invalid-feedback">
            Ingrese libras proyectadas a recibir
        </div>
    </label>  

    <label class="m-2" for="fecha">
        <input class="form-control" type="date" name="fecha" value="<%= fechaIngreso %>" required>
        <div class="invalid-feedback">
            Ingrese fecha de llegada
        </div>  
    </label>

    <label class="m-2" for="hora" >
        <select class="form-select w-100 h-100" name="hora" required>
            <option value="" selected disabled hidden>Hora Llegada</option>
            <option value="00:00">00:00</option>
            <option value="01:00">01:00</option>
            <option value="02:00">02:00</option>
            <option value="03:00">03:00</option>
            <option value="04:00">04:00</option>
            <option value="05:00">05:00</option>
            <option value="06:00">06:00</option>
            <option value="07:00">07:00</option>
            <option value="08:00">08:00</option>
            <option value="09:00">09:00</option>
            <option value="10:00">10:00</option>
            <option value="11:00">11:00</option>
            <option value="12:00">12:00</option>
            <option value="13:00">13:00</option>
            <option value="14:00">14:00</option>
            <option value="15:00">15:00</option>
            <option value="16:00">16:00</option>
            <option value="17:00">17:00</option>
            <option value="18:00">18:00</option>
            <option value="19:00">19:00</option>
            <option value="20:00">20:00</option>
            <option value="21:00">21:00</option>
            <option value="22:00">22:00</option>
            <option value="23:00">23:00</option>
        </select>
        <div class="invalid-feedback">
            Ingrese hora de llegada
        </div>  
    </label>

    <button type="submit" class="btn btn-primary m-2 jend">Programar</button>
</div>


    
    <!-- programacion, programacionAnterior, programacionProxima, -->

    </form>

    <!-- PROGRAMA DEL DIA ANTERIOR -->
    <%if (typeof programacionAnterior === 'undefined') {}else {  %>
    <div class="grid-programa w-100 mt-5">
        <span class="itemp border border-dark py-1  text-center">item</span>
        <span class="proveedorp border border-dark py-1 text-center">Proveedor</span>
        <span class="productop border border-dark py-1  text-center">Producto</span>
        <span class="cantidadp border border-dark py-1  text-center">Cantidad</span>
        <span class="piscinap border border-dark py-1  text-center">Piscina</span>
        <span class="lotep border border-dark py-1  text-center">Lote</span> 
        <span class="llegadap border border-dark py-1  text-center">Fecha</span>
    </div>
    <% 
    var itemy = 0;
    %> 

    

    <%for (let programa of programacionAnterior) {%>
        <%    
        const date = programa.fecha;
        const fechaTiempo = ("0" + date.getUTCDate()).slice(-2) + '-' + ("0"+(date.getUTCMonth()+1)).slice(-2) + '-' + ("0"+ date.getUTCFullYear()).slice(-2) 
    + " " + ("0" + date.getUTCHours()).slice(-2) + ':'+ ("0" + date.getUTCMinutes()).slice(-2);
    
        
        itemy += 1
        %> <div class="grid-programa w-100">
            <span class="itemp border border-dark py-1  text-center"> <a href="/programacion/corregir/<%= programa._id %> "><%=itemy%></a> </span>
            <span class="proveedorp border border-dark py-1 text-center"><%=programa.proveedor%></span>
            <span class="productop border border-dark py-1  text-center" ><%=programa.producto%></span>
            <span class="cantidadp border border-dark py-1  text-center" ><%=programa.cantidad%></span>
            <span class="piscinap border border-dark py-1  text-center" ><%=programa.piscina%></span>
            <span class="lotep border border-dark py-1  text-center" ><%=programa.lote%></span>
            <span class="fechap border border-dark py-1  text-center" ><%= fechaTiempo %></span>
        </div>
       
        <% } %> 

        <% } %> 
            <!-- PROGRAMA ACTUAL -->
    <div class="grid-programa w-100 mt-5">
        <span class="itemp border border-dark py-1  text-center">item</span>
        <span class="proveedorp border border-dark py-1 text-center">Proveedor</span>
        <span class="productop border border-dark py-1  text-center">Producto</span>
        <span class="cantidadp border border-dark py-1  text-center">Cantidad</span>
        <span class="piscinap border border-dark py-1  text-center">Piscina</span>
        <span class="lotep border border-dark py-1  text-center">Lote</span> 
        <span class="llegadap border border-dark py-1  text-center">Fecha</span>
    </div>
    <% 
    var item = 0;
    %> 
    <%for (let programa of programacion) {%>
        <% 
        const date = programa.fecha;
        const fechaTiempo = ("0" + date.getUTCDate()).slice(-2) + '-' + ("0"+(date.getUTCMonth()+1)).slice(-2) + '-' + ("0"+ date.getUTCFullYear()).slice(-2) 
    + " " + ("0" + date.getUTCHours()).slice(-2) + ':'+ ("0" + date.getUTCMinutes()).slice(-2);
        
        item += 1
        %> <div class="grid-programa w-100">
            <span class="itemp border border-dark py-1  text-center"><a href="/programacion/corregir/<%=programa._id%>"><%=item%></a></span>
            <span class="proveedorp border border-dark py-1 text-center"><%=programa.proveedor%></span>
            <span class="productop border border-dark py-1  text-center" ><%=programa.producto%></span>
            <span class="cantidadp border border-dark py-1  text-center" ><%=programa.cantidad%></span>
            <span class="piscinap border border-dark py-1  text-center" ><%=programa.piscina%></span>
            <span class="lotep border border-dark py-1  text-center" ><%=programa.lote%></span>
            <span class="fechap border border-dark py-1  text-center" ><%= fechaTiempo %></span>
        </div>
       
        <% } %> 

    <!-- PROGRAMA PROXIMO DIA -->
    <%if (typeof programacionProxima === 'undefined') {}else {  %>
    <div class="grid-programa w-100 mt-5">
        <span class="itemp border border-dark py-1  text-center">item</span>
        <span class="proveedorp border border-dark py-1 text-center">Proveedor</span>
        <span class="productop border border-dark py-1  text-center">Producto</span>
        <span class="cantidadp border border-dark py-1  text-center">Cantidad</span>
        <span class="piscinap border border-dark py-1  text-center">Piscina</span>
        <span class="lotep border border-dark py-1  text-center">Lote</span> 
        <span class="llegadap border border-dark py-1  text-center">Fecha</span>
    </div>
    <% 
    var itemx = 0;
    %> 
    <%for (let programa of programacionProxima) {%>
        <% 
         const date = programa.fecha;
        const fechaTiempo = ("0" + date.getUTCDate()).slice(-2) + '-' + ("0"+(date.getUTCMonth()+1)).slice(-2) + '-' + ("0"+ date.getUTCFullYear()).slice(-2) 
    + " " + ("0" + date.getUTCHours()).slice(-2) + ':'+ ("0" + date.getUTCMinutes()).slice(-2);
        
        itemx += 1
        %> <div class="grid-programa w-100">
            <span class="itemp border border-dark py-1  text-center"><a href="/programacion/corregir/<%=programa._id%>"><%=itemx%></a></span>
            <span class="proveedorp border border-dark py-1 text-center"><%=programa.proveedor%></span>
            <span class="productop border border-dark py-1  text-center" ><%=programa.producto%></span>
            <span class="cantidadp border border-dark py-1  text-center" ><%=programa.cantidad%></span>
            <span class="piscinap border border-dark py-1  text-center" ><%=programa.piscina%></span>
            <span class="lotep border border-dark py-1  text-center" ><%=programa.lote%></span>
            <span class="fechap border border-dark py-1  text-center" ><%= fechaTiempo %></span>
        </div>
       
        <% } %> 

        <% } %> 